<div class="card">
  <h5 class="card-header">{{ item.name | safe }}</h5>
  <div class="card-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ item.video | safe }}" allowfullscreen></iframe>
    </div>
    <div class="row pt-3 pb-5">
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.video | safe }}" target="_blank" role="button">Video</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.preso | safe }}" target="_blank" role="button">Presentation</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.folder | safe }}" target="_blank" role="button">Folder</a>
      </div>
    </div>
    <h5 class="card-title text-muted">Project</h5>
    <p class="card-text ">{{ item.location | safe }}</p>
    <h5 class="card-title text-muted">Description</h5>
    <p class="card-text">{{ item.description | safe }}</p>
  </div>
  <div class="card-footer">
    <div class="row pt-2 pb-2">
      <div class="col-sm">
        <input type="checkbox" id="patentable" name="{{ patentable_value }}" value="{{ patentable_value }}" {{'checked="checked"' if patentable_status else ""}}" {{'disabled="disabled"' if patentable_status else ""}}/>
        <b><label for="patentable">Patentable?</label></b>
      </div>
      <div class="col-sm">
        <input type="button" id="comment" name="comment00" value="Leave a comment" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal"/>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter Text</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                   <!--  <input type="text" id="textInput" class="form-control" placeholder="Enter text..."> -->
                   <textarea id="textAreaInput" rows="5" class="form-control" placeholder="Enter text..."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveText()">Save</button>
                </div>
            </div>
        </div>
      </div>
      <!-- Modal -->

      <!-- Include Bootstrap 4.0.0 JS and jQuery -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

      <script>
        function saveText() {
            var userInput = document.getElementById('textAreaInput').value;
            alert(userInput)
            <!--
            // Send userInput to the server using an AJAX request
            $.ajax({
                type: 'POST',
                url: '/save_text',
                data: { text: userInput },
                success: function(response) {
                    // Handle the response from the server if needed
                    // For example, you can close the modal or display a message
                    $('#myModal').modal('hide');
                }
            });
          -->
        }
    </script>

    </div>
    Vote For
    <input type="submit" name="action" value="{{ btn_value | safe }}" class="btn btn-primary btn-block">
  </div>
</div>
