<div class="card">
  <h5 class="card-header">{{ item.name | safe }}</h5>
  <div class="card-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ item.video | safe }}" allowfullscreen></iframe>
    </div>
    <div class="row pt-3 pb-5">
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.video | safe }}" target="_blank" role="button">Video</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.preso | safe }}" target="_blank" role="button">Presentation</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-light btn-block" href="{{ item.folder | safe }}" target="_blank" role="button">Folder</a>
      </div>
    </div>
    <h5 class="card-title text-muted">Project</h5>
    <p class="card-text ">{{ item.location | safe }}</p>
    <h5 class="card-title text-muted">Description</h5>
    <p class="card-text">{{ item.description | safe }}</p>
  </div>
  <div class="card-footer">
    <div class="row pt-2 pb-2">
      <div class="col-sm">
        <b><label for="id{{ patentable_value }}">Patentable</label></b>
        <select id="id{{ patentable_value }}" name="{{ patentable_value }}" required {% if disabled %}disabled{% endif %} >
          <option value="Yes" {% if patentable_status == 'Yes' %}selected{% endif %}>Yes</option>
          <option value="No" {% if patentable_status == 'No' %}selected{% endif %}>No</option>
        </select>
      </div>
      <div class="col-sm">
        <input type="button" value="Future Use Case / Innovation Suggestion" class="btn btn-primary btn-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Suggest ways this project or its components can be adapted, applied to other areas, or inspire new projects." data-toggle="modal" onclick="openModal('commentId{{ patentable_value }}')" style="background-color: #003054; border: none;"/>
      </div>

      <input type="hidden" id="commentId{{ patentable_value }}" name="comment{{ patentable_value }}" value="">
    </div>
    Vote For
    <input type="submit" name="action" value="{{ btn_value | safe }}" class="btn btn-primary btn-block" style="background-color: #003054; border: none;">
  </div>
</div>  