{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<form action="/begin" method="post">
  <div class="container">
    {% include 'modal.html' %}
    <div class="card-deck">

      {% with item=item, btn_value="Done"  %}
      {% include "_item.html" %}
      {% endwith %}

    </div>
      <div class="pt-4">
      <input type="submit" name="action" value="Skip" class="btn btn-primary btn-block">
    </div>
  </div>

  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

</form>
{% endblock %}
