{% extends 'bootstrap/base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block title %}Vote{% endblock %}

{% block content %}
<div>
  <h2 style="text-align:center;font-weight:bold;color:#0063a3;">Votes: {{ votes }}</h2>
</div>
<form action="/vote" method="post">
<div class="container">
  <div class="card-deck">

      {% with item=next, btn_value="Current" %}
      {% include "_item.html" %}
      {% endwith %}

      {% with item=prev, btn_value="Previous" %}
      {% include "_item.html" %}
      {% endwith %}
  </div>
  <div class="pt-4">
    <input type="submit" name="action" value="Skip" class="btn btn-primary btn-block">
  </div>
</div>

  <input type="hidden" name="prev_id" value="{{ prev.id }}">
  <input type="hidden" name="next_id" value="{{ next.id }}">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>

<div id="footer">
  <!-- Please don't remove this -->
  <p class="text-center">Powered by <a href="https://github.com/anishathalye/gavel" class="colored">Gavel</a></p>
</div>
{% endblock %}
