{% extends 'bootstrap/base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block title %}Vote{% endblock %}

{% block content %}
<div>
  <h2 style="text-align:center;font-weight:bold;color:#0063a3;">Votes: {{ votes }}</h2>
</div>
<form action="/vote" method="post">
<div class="container">
  <div class="card-deck">

      {% with item=next, btn_value="Current", patentable_value="Current", patentable_status=next_patentable_disabled %}
      {% include "_item.html" %}
      {% endwith %}

      {% with item=prev, btn_value="Previous", patentable_value="Previous",  patentable_status=prev_patentable_disabled  %}
      {% include "_item.html" %}
      {% endwith %}
  </div>
  <div class="pt-4">
    <input type="submit" name="action" value="Skip" class="btn btn-primary btn-block">
  </div>
</div>

<div class="item">
  <div class="banner" id="vote-header">
    <h1>Vote</h1>
  </div>

  <div class="info">
    <form action="{{ url_for('vote') }}" method="post">
      <p class="center">Which one is better?</p>
      <div id="vote-previous" class="radio-button button-left">
        <input type="radio" name="action" id="vote-previous-radio" value="Previous">
        <label for="vote-previous-radio">Previous</label>
      </div>

      <div id="vote-current" class="radio-button button-right">
        <input type="radio" name="action" id="vote-current-radio" value="Current">
        <label for="vote-current-radio">Current</label>
      </div>

      <div id="vote-skip" class="radio-button button-full button-gap">
        <input type="radio" name="action" id="vote-skip-radio" value="Skip" checked>
        <label for="vote-skip-radio">Skip</label>
      </div>

      <input type="submit" name="action" value="Submit" id="vote-submit" class="button-full button-gap">
      <input type="hidden" name="prev_id" value="{{ prev.id }}">
      <input type="hidden" name="next_id" value="{{ next.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>

    <script src="{{ url_for('static', filename='js/smart-button-toggle.js') }}"></script>
  </div>
</div>
{% endblock %}
